{% extends 'base.html.twig' %}

{% block title %}Hello DemoController!{% endblock %}

{% block body %}

{{ form_start(form) }}
    <div>
    {{ form_label(form.name) }}
    </div>
    {{ form_widget(form.name) }}
    
    {{ form_row(form.movies) }}
    {# {{ form_row(form.createdAt) }}
    {{ form_row(form.updatedAt) }} #}
    <button>Envoyer</button>
{{ form_end(form) }}


{% endblock %}
