{% extends 'admin/base.html.twig' %}

{% block title %}Hello DepartmentController!
{% endblock %}

{% block body %}

	<div class="container">
		<div class="row">
			<h1>Liste des départements</h1>
		</div>
		<div class="row">

			<a href="{{ path('admin_department_add') }}">Ajouter un départment
				<i class="fa fa-plus-square"></i>
			</a>
		</div>
		<div class="row">
			<table class="table table-hover">
				<thead>
					<tr>
						<th scope="col">ID</th>
						<th scope="col">Nom</th>
						<th scope="col">Date de création</th>
						<th scope="col">Date de mise à jour</th>
						<th scope="col"></th>
					</tr>
				</thead>
				<tbody>

					{% for department in departments %}

						<tr class="{{ cycle(['', 'table-dark'], loop.index0) }}">
							<th scope="row">{{ department.id }}</th>
							<td>
								<a href="{{ path('admin_department_read', {'id' : department.id} ) }}">{{ department.name }}</a>
							</td>
							<td>{{ department.createdAt|date('Y-m-d H:i:s') }}</td>
							<td>{{ department.updatedAt is not null ? department.updatedAt|date('Y-m-d H:i:s')  }}</td>
							<td>
								<a href="{{ path('admin_department_edit', {'id': department.id }) }}">
									<i class="btn btn-link fa fa-edit fa-2x"></i>
								</a>
								<form action="{{ path('admin_department_delete', {'id': department.id }) }}" method="post" class="d-inline">
									<input type="hidden" name="_method" value="DELETE" />
									<button class="btn btn-link fa fa-trash fa-2x"></button>
								</form>
							</td>
						</tr>

					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

	<script>
		document.addEventListener('DOMContentLoaded', function() {
			document.querySelectorAll('form').forEach(function(element){
				element.addEventListener('submit', function(evt) {
					if(confirm('Êtes-vous sûre ?') == false){
						evt.preventDefault();
					}
				});
			});
		});
			
	</script>

{% endblock %}
